.btn-vaciar-finalizar{
    background-color:rebeccapurple;
    border: none;
    color:white
}

.btn-vaciar-finalizar:hover{
    background-color:rgb(203, 65, 216);
    border: solid 1px rebeccapurple;
    color: white
}
.remove{
    color:rebeccapurple
}

.remove:hover{
    color:rgb(203, 65, 216);
}