.card-prod{
    margin: 2rem;
    border: none;
}
.card-prod:hover{
    transform: scale(1.02);
}


.btn-detalles{
    background-color:rebeccapurple;
    border: none;
}

.btn-detalles:hover{
    background-color:rgb(203, 65, 216);
    border: solid 1px rebeccapurple;
}